a.btn-custom-style::before,
button.btn-custom-style::before {
width: 100%;
height: 0%;
transform: translate(-50%,-50%) rotate(-45deg);
}
a.btn-custom-style:hover::before,
button.btn-custom-style:hover::before {
height: 380%;
}